{
  trailingComma: "es5",
  tabWidth: 2,
  semi: true,
  singleQuote: true,
  bracketSpacing: true,
  jsxSingleQuote: true,
  jsxBracketSameLine: false,
  useTabs: false,
  arrowParens: 'always',
  printWidth: 120
}
